.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
  .mic_button_recording {
    border: 1px solid red !important;
    background-color: transparent !important;
    color: red !important;
  }
  .mic_button_mute{
    background-color: transparent !important;
    color: #ffffff !important;
  }
}